@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Vazir";
    src: url("../dist/fonts/Vazir.eot");
    /* IE9 Compat Modes */
    src: url("../dist/fonts/Vazir.eot?#iefix") format("embedded-opentype"),
      url("../dist/fonts/Vazir.woff2") format("woff2"),
      url("../dist/fonts/Vazir.woff") format("woff"),
      url("../dist/fonts/Vazir.ttf") format("truetype");
    /* Safari, Android, iOS */
  }
  @media (min-width: 1280px) {
    .xl\:text-xl {
        font-size: 1.25rem/* 20px */;
    }
}
}

@layer components {
  .btn {
    @apply py-2 px-4 rounded-full transition duration-300 ease-in-out;
  }
  .btn-primary {
    @apply text-white bg-indigo-600 hover:bg-gray-100 hover:text-black;
  }
  .btn-secondary {
    @apply bg-gray-100 hover:bg-indigo-600 text-black hover:text-white dark:text-black dark:hover:text-white;
  }
  .nav-item {
    @apply transition duration-300 ease-in-out hover:border-b-2 hover:border-indigo-600;
  }
  .nav-item-active {
    @apply border-b-2 border-indigo-600;
  }
  [x-cloak] {
    display: none !important;
  }

  .form-label {
    @apply text-gray-800 font-bold block dark:text-white;
  }

  .form-input {
    @apply w-full border border-gray-300 mt-3 py-2 px-3 rounded focus:outline-none focus:ring-4 focus:ring-opacity-50 focus:ring-indigo-600 dark:bg-gray-800;
  }
}

@layer utilities {
.px-2	{padding-left: 0.5rem; /* 8px */ 
padding-right: 0.5rem; /* 8px */}
.border-b-lime-200	{border-bottom-color: rgb(217 249 157);}
.border-y-gray-800	{border-top-color: rgb(31 41 55);
border-bottom-color: rgb(31 41 55);}
.animate-ping	{animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;}
.text-sm	{font-size: 0.875rem; /* 14px */}
line-height: 1.25rem; /* 20px */
.text-xl	{font-size: 1.25rem; /* 20px */
line-height: 1.75rem; /* 28px */}
.text-base	{font-size: 1rem; /* 16px */
line-height: 1.5rem; /* 24px */}
.border-1	{border-width: 1px;}
.w-64	{width: 16rem; /* 256px */}
.max-w-xs	{max-width: 20rem; /* 320px */}
.float-left	{float: left;}
.max-w-sm	{max-width: 24rem; /* 384px */}
.text-lg	{font-size: 1.125rem; /* 18px */
line-height: 1.75rem; /* 28px */}
.font-black	{font-weight: 900;}

.grid-cols-12	{grid-template-columns: repeat(12, minmax(0, 1fr));}

 .bottom-10	{bottom: 2.5rem; /* 40px */}
 .right-1	{right: 0.25rem; /* 4px */}
 .backdrop-opacity-50	{backdrop-filter: opacity(0.5);}
  .fill-gray-100 {
    fill: #f3f4f6;
  }
  .fill-gray-800 {
    fill: #1f2937;
  }
  .grid_top {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .grid_fnew {
    display: grid;
    grid-template-columns: 5fr 1fr;
  }

  grid_top_sm {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .grid_container {
    display: grid;
    grid-template-areas:
      "header"
      "fnew"
      "new"
      "service"
      "price"
      "galery"
      "footer";
    grid-gap: 0.75rem;
  }

  .grid_container_sm {
    display: grid;
    grid-template-areas:
      "header"
      "fnew"
      "new"
      "service"
      "price"
      "galery"
      "footer";
    grid-gap: 0.75rem;
  }

  .grid_container_md {
    display: grid;
    grid-template-areas:
      "header header header header"
      "fnew fnew fnew fnew"
      "new new new new"
      "service service service service"
      "price price price price"
      "galery galery galery galery"
      "footer footer footer footer";
    grid-gap: 0.75rem;
  }

  .grid_container_lg {
    display: grid;
    grid-template-areas:
      "header"
      "fnew"
      "photo"
      "new"
      "service"
      "price"
      "galery"
      "footer";

  }

  .gap-x-3 {
    column-gap: 0.75rem; /* 12px */
  }
  .gap-y-3 {
    row-gap: 0.75rem; /* 12px */
  }
}

#header {
  grid-area: header;
}

#topnew {
  display: grid;
  grid-template-columns: 1fr;
}

#topimg {
}

#fnew{
  grid-area: fnew;
}

#new {
  grid-area: new;
}
#photo {
  grid-area: photo;
}
#service {
  grid-area: service;
}
#price {
  grid-area: price;
}
#galery {
  grid-area: galery;
}
#footer {
  grid-area: footer;
}

#header,
#fnew
#new,
#service,
#price,
#galery,
#footer,
#topnew,
#topimg {
  border: 0px solid rgba(15, 15, 15, 0.8);
}

.w-80 {
  width: 80%;
}
.h-80 {
  height: 80%;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.mb-5 {
  margin-bottom: 1.25rem; /* 20px */
}
.mb-4 {
  margin-bottom: 1rem; /* 16px */
}
.mt-2 {
  margin-top: 0.5rem; /* 8px */
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.indent-2 {
  text-indent: 0.5rem; /* 8px */
}
.indent-16 {
  text-indent: 4rem; /* 64px */
}

.place-content-stretch {
  place-content: stretch;
}
.place-content-center {
  place-content: center;
}
.place-items-center {
  place-items: center;
}
.content-center {
  align-content: center;
}
.bg-slate-600	{background-color: rgb(71 85 105);}
